.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  margin-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  /* box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.062), 0 7px 10px -5px rgba(0, 0, 0, 0.089); */
  padding: 15px;
  padding-left: 30px;
  align-items: center;
}

.content {
  margin-left: 20px;
  width: 100%;
}

.content p {
  color: rgb(85, 85, 85);
  font-size: 12pt;
  margin-top: 5px;
}

.date-container p {
  font-size: 10pt;
  margin: 0px;
  margin-bottom: 5px;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
  align-items: center;
}

.edit-comment-container {
  margin: 5px 0;
  margin-bottom: 20px;
  width: 100%;
}